notebook
numpy
pandas
matplotlib
seaborn
plotly
opencv-python
nltk
spacy
scikit-learn
tensorflow
# python -m spacy download en_core_web_sm
openpyxl
autograd
Keras-Preprocessing
dlib
mtcnn
pyaudio
speechrecognition
object-detection
hmmlearn
scikit-image
# pip install git+https://www.github.com/keras-team/keras-contrib.git
# pyautogui (for automation)